.userprofile_container, .updateprofie_container{
    margin: 0 auto;
    width: 30%;
    text-align: center;
    border-radius: 5px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  padding: 3% 5% 1% 5%;
  margin-top: 2%; 
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.picprofile_container{
    width: 15vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 6%;
}

.updateprofie_container>form, .addmovie_container>form{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.addmovie_container{
  margin: 0 auto;
  width: 25%;
  text-align: center;
  border-radius: 5px;
box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
padding: 3% 5% 3% 5%;
margin-top: 2%; 
}

form>input{
  margin-bottom: 6%;
  border-radius: 6px;
  padding: 1%;
}

.addmovie_button, .updateprofile_button {
width: 60%;
margin: 0 auto;
margin-top: 5%;
}